body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://wallpapers.com/images/featured/rick-and-morty-cool-t3ynu5ly9m7jq6e2.jpg");
  background-size: cover;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  
  color: white;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(54, 199, 247, 0.165);
  border-top: 2px solid lightblue;
  border-bottom: 4px solid lightblue;
  
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply the animation to the header */
.fade-in {
  opacity: 0;
  animation: fadeIn 5s forwards;
}

header h1 {
  font-family: 'Get Schwifty';
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto;
  max-width: 800px;
}

main {
  padding: 2rem;
  text-align: center;
}

#user-module {
  margin-bottom: 1rem;
}

#meeseeks-box {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

#character-name {
  padding: 0.5rem;
  margin-right: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: none;
  background: #e6e6e6;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  animation: flip 1s, fadeIn 1s;
}
@keyframes flip {
  0% {
    transform: perspective(400px) rotateY(0);
  }
  50% {
    transform: perspective(400px) rotateY(180deg);
  }
  100% {
    transform: perspective(400px) rotateY(0);
  }
}




.meeseeks-image {
  width: 40px;
  height: 40px;
  background-image: url("https://cdn6.aptoide.com/imgs/8/a/2/8a24b572f8423c1cb97f2899f754871f_icon.png");
  background-size: cover;
}

#character-info {
  margin-top: 2rem;
  border-top: 1px solid #ccc;
  padding: 1rem;
}

#character-info h2,
#character-info p,
.episode-info {
  color: #fff;
}

#character-info .episode-info {
  color: #fff; /* Set the text color to white */
}

header, #user-module{
  opacity: 0;
  animation: fade 1s forwards;
}

@keyframes fadeIn{
  to{
    opacity: 1;
  }
}

main{
  background-image: url("https://wallpapers.com/images/featured/rick-and-morty-cool-t3ynu5ly9m7jq6e2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.episode-info{
  color: white;
}
.character-info{
  color: white;
}

#meeseeks-git{
  display: none;
  width: 200px;
  height: 200px;
}

