body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://wallpapers.com/images/featured/rick-and-morty-cool-t3ynu5ly9m7jq6e2.jpg");
  background-size: cover;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  

}
header{
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

main{
  padding: 2rem;
  text-align: center;
}

#user-module{
  margin-bottom: 1rem;
}

#meeseeks-box{
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

#character-name{
  padding: 0.5rem;
  margin-right: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#meeseeks-box img{
  cursor: pointer;
}

#character-info{
  margin-top: 2rem;
  border-top: 1px solid #ccc;
  padding: 1rem;
  
}

#character-info h2,
#character-info p {
  color: #fff;
}

#fetch-character{
  padding: 1rem 2rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#meeseeks-pop-up{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid #007bff;
  padding: 1rem;
  border-radius: 4px;
  z-index: 9999;
}
